<ion-view id="schedule">
  <ion-nav-title>
    <span>Schedule</span>
  </ion-nav-title>
  <ion-content>
    <h1 class="text-center activity_day_name">{{day.fields.Name}} <br/> {{day.fields.Day}}</h1>
    <ion-item class = "list card" ng-repeat="activity in activities" href="#/app/playlists/{{day.id}}/{{activity.id}}">
      <div class="item item-icon-left activity_name">
        <b>Activity: </b><b>{{activity.fields.Name}}</b>
      </div>
      <div class="item item-icon-left activity_guest">
       <b>{{activity.fields.Description}}</b>
      </div>
      <div class="item item-icon-left activity_guest_company">
        Empresa SSL
      </div>
      <div class="item item-icon-left activity_location">
        <div class="location">Location:</div><div class="place"> Fornells</div>
      </div>
      <div class="item item-icon-left activity_hour">
        <div class="time">Time: </div><div class="hour">{{activity.fields.Hour}}</div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
