/*Selected color of the menu button*/
.button-color {
  color: #ffdb81 !important;
}
/*App's fonts*/
h1, h2, h3, h4, h5, p, div {
  font-family: 'Montserrat', sans-serif;
}
/*Title colors*/
span{
  color: #1d6e84;
  float:none;
}

/*Dessign of Agenda's page*/
/*Agenda Background's image*/
*[view-title="Agenda"] > .scroll-content {
  background: url("../img/BACKGROUND.jpg")center center;
  background-size: cover;
}
#agenda .row{
  padding:1px;
}
#agenda_page ion-item{
  padding:0;
}
#agenda_page ion-item a{
  padding:0;
  padding-bottom:70px;
}
#agenda_page ion-item a h4 {
  margin-top:2px;
  margin-left:2px;
  margin-right:100%;
  float: left;
  text-align: left;
}
#agenda_page ion-item a h2{
  float:left;
  text-align:center;
}
/*Needed because the background is still white without it*/
.box-height > a {
  background-color: transparent!important;
}
/*Design of each box*/
.box-height {
  height: 130px;
  position: relative;
  z-index: 2;
  margin:0px 1px 0px 1px;
  background-color:  rgba(82, 185, 220, 0.16);
  border:none;
}


/*Items of each box*/
.item-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  display: inline-block;
  background: rgba(82, 185, 220, 0.3);
  padding: 5px;
  padding-top: 15px;
  color: #145368;
  margin: 0;
}
.item-name{
  padding-top:10px;
  padding-left:5px;
  color: #ffdb81;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}



/*Design of side-menu*/
.menu-left,.list ion-item{
  background-color:#145368;
}
#menu_page .item-content {
  background-color: transparent!important;
}
#menu_page .item{
  border:none;
  color:#ffdb81;
}

/*Design of today page*/
#today{
  color:transparent;
  background-color:#4fb5d7;
}

#today a{
  padding:0;
}
#today a div{
  padding:0;
}

#today .activity_name{
  padding-left:10%;
  padding-right:20%;
  padding-top:5%;
  color:#eaeaea;
}
#today .activity_guest{
  padding-left:10%;
  padding-right:20%;
  padding-top:3%;
  color:#ffdb81;
}
#today .activity_guest_company{
  padding-left:10%;
  padding-right:20%;
  font-size:11px;
  color:#095067;
  margin-top:-5px;/*Not sure if use it*/

}
#today .activity_location{
  margin-left:8%;
  margin-top:5%;
}
#today .location{
  float:left;
  background-color:#1d6e84;
  padding-left:2%;
  padding-right:2%;
  color:#ffdb81;
  text-align:center;
}
#today .place{
   /* width: 30%; */
  float: left;
  padding-left:2%;
  padding-right:5px;
  background-color: #ffdb81;
  color: #1d6e84;
}
.place span {
  padding-left:2%;
  color:#F97150 !important;
}
#today .activity_hour{
  margin-top:2%;
  margin-left:8%;
  margin-bottom:5%;
}

#today .time{
  float:left;
  background-color:#1d6e84;
  padding-left:2%;
  padding-right:2%;
  color:#ffdb81;
  text-align:center;
}
#today .hour{
  /* width: 30%; */
  float: left;
  padding-left:2%;
  padding-right:5px;
  background-color: #ffdb81;
  color: #1d6e84;
}

/*#today .location{*/
  /*width:20%;*/
  /*float:left;*/
  /*margin-left:10%;*/
  /*margin-top:5%;*/
  /*background-color:#1d6e84;*/
  /*color:#ffdb81;*/
  /*text-align:center;*/
/*}*/
/*#today .place {*/
  /*!* width: 30%; *!*/
  /*margin-top: 5%;*/
  /*margin-right: 40%;*/
  /*margin-left: 20%;*/
  /*float: none;*/
  /*padding-left: 15%;*/
  /*background-color: #ffdb81;*/
  /*color: #1d6e84;*/
/*}*/
#today h1{
  color:deepskyblue;
}

#today .card .item{
  background-color:transparent;
}

/*This one changes the box color*/
#today .card{
    background-color:#48a3c2;
}

/*Design of activity page*/
#activity_page{
  background-color:#145368;
}
#activity_page h1{
  color:deepskyblue;
}


