/*Selected color of the menu button*/
.button-color {
  color: #ffdb81 !important;
}
/*App's fonts*/
h1, h2, h3, h4, h5, p, div {
  font-family: 'Montserrat', sans-serif;
}
/*Title colors*/
span{
  color: #ffdb81;
}

/*Dessign of Agenda's page*/
/*Agenda Background's image*/
*[view-title="Agenda"] > .scroll-content {
  background: url("../img/BACKGROUND.jpg")center center;
  background-size: cover;
}
#agenda .row{
  padding:1px;
}
#agenda_page ion-item{
  padding:0;
}
#agenda_page ion-item a{
  padding:0;
  padding-bottom:70px;
}
#agenda_page ion-item a h4 {
  margin-top:2px;
  margin-left:2px;
  margin-right:100%;
  float: left;
  text-align: left;
}
#agenda_page ion-item a h2{
  float:left;
  text-align:center;
}
/*Needed because the background is still white without it*/
.box-height > a {
  background-color: transparent!important;
}
/*Design of each box*/
.box-height {
  height: 130px;
  position: relative;
  z-index: 2;
  margin:0px 1px 0px 1px;
  background-color:  rgba(82, 185, 220, 0.16);
  border:none;
}


/*Items of each box*/
.item-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  display: inline-block;
  background: rgba(82, 185, 220, 0.3);
  padding: 5px;
  padding-top: 15px;
  color: #145368;
  margin: 0;
}
.item-name{
color: #ffdb81;
text-transform: uppercase;
font-size: 0.8em;
font-weight: 700;
}



/*Design of side-menu*/
.menu-left,.list ion-item{
  background-color:#145368;
}
#menu_page .item-content {
  background-color: transparent!important;
}
#menu_page .item{
  border:none;
  color:#ffdb81;
}

/*Design of schedule page*/
#schedule{
  color:transparent;
  background-color:#145368;
}
#schedule .item{
  color:grey;
}
#schedule h1{
  color:deepskyblue;
}

#schedule .card .item{
  background-color:transparent;
}

/*This one changes the box color*/
#schedule .card{
    background-color:cadetblue;
}

/*Design of activity page*/
#activity_page{
  background-color:#145368;
}
#activity_page h1{
  color:deepskyblue;
}


